# Datos descargados (libros)
/datalake/
/control/

# Compilados de Maven
/target/

# Configuración de IntelliJ
/.idea/
*.iml

# Datamarts generados (SQLite)
/datamarts/

# Datos generados por los benchmarks
/datalakeBookHierarchy/
/datalakeIdRangeHierarchy/
/datalakeTimeHierarchy/
/benchmark/raw
/benchmark/results/